.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5d5aa;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0;
  bottom: -6px;
  background-color: #e58a13;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f5d5aa;
}

input:checked + .slider:before {
  transform: translateX(34px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .internal {
    height: 100%;
  }
  .source {
    display: flex;
    justify-content: center;
  }

  .source button {
    font-size: 10px;
  }

  .internalText h1 {
    font-size: 1rem;
    margin: 8px;
    line-height: 1rem;
  }

  .mainInternal {
    padding: 10px;
  }

  .mainInternal button {
    margin-top: 1rem;
  }

  .internalText p {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .internalText {
    display: block;
    text-align: left;

    padding: 8px;
  }
}
