.loadingSpinner {
  width: 64px;
  height: 64px;
  position: relative;
}

.loadingSpinner::before,
.loadingSpinner::after,
.loadingSpinner {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3788e5;
}

.loadingSpinner::before {
  left: -20px;
  animation: bounce 1s infinite ease-in-out;
}

.loadingSpinner::after {
  left: 20px;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 768px) {
  .marketInsight p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 8px;
  }

  .main {
    overflow: visible;
  }

  .ref {
    display: flex;
    flex-direction: column;
  }

  .format {
    padding: 1rem 0;
  }

  .marketResultDiv {
    padding: 1rem 0;
  }
}
