.sidebar {
  width: 72px;
  background-color: #3182ce;
  padding: 5px;
  height: 100vh;
  position: relative;
  transition: width 0.3s;
}

.sidebar.open {
  width: 220px;
}

.sidebar-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo,
.u-logo {
  transition: transform 0.5s;
}

.collapse-icon {
  cursor: pointer;
}

.menu-container {
  height: calc(100% - 50px);
  overflow-y: auto;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.menu-divider {
  border-top: 1px solid #fff;
  margin: 10px 0;
}

.bottom-menu {
  list-style-type: none;
  padding: 0;
}

.modal {
  position: absolute;
  bottom: 10px;
  left: 220px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content {
  max-width: 300px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.modal-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-menu {
  list-style-type: none;
  padding: 0;
}

.modal-menu-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
